[submodule "backend"]
	path = backend
	url = https://github.com/LucaPrevi0o/ProgSistWeb-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/LucaPrevi0o/ProgSistWeb-frontend.git